body {
    width: 70%;
    text-align: center;    
    display: block;
    margin: auto;
    padding: 90px  100px;
    background-color: black;
}

.content-layout {
    width: 100%;
    background-color: lavender;
    display: block;
    margin: auto;
    padding: 70px 20px;
}   

.layout {
    width: 100%;
    float: left;
}

.content {
    max-width: 100%;    
    min-height: 100%;
    width: 900px;
    background-color: #fff;   
    display: inline-block;
    margin: auto;
}   

.header {
    width: 100%;
    float: left;
}

.icon {
    max-width:100%;
    min-height: 100px;
    padding: 10px;
    float: left;
    width: 100%;
}

i {
    width: 100%;
    float: left;    
    padding-top: 17px; 
    color: none;
}

.title {    
    height: 100px;
    float: right;
    width: 100%;
    
    
}
.h-title {
    width: 100%;
    float: left;
}

h1 {
    min-width: 80%; 
    width: 100%;
    float: left;
    padding-left: 10px;
    font-size: 1.9em;
}

nav {
    width: 67%;
    float: right;
}

a {
    display: inline-block;    
    text-decoration: none;
    color: lightgray;
    padding: 10px; 
}

a:hover {
    color: burlywood;
}

.images-width {
    width: 900px;       
    float: right;
    padding-bottom: 50%;
    
}

.images {
    width: 100%;
    min-width: 100px;
    margin: auto;   
    display: inline-flex;       
}

.one-image {
    width: 20%;
    position: relative;
    left: -110px;  
}

.two-image {
    width: 20%;
    position: relative;
    left: -55px; 
}

.tree-image {
    width: 20%;
    position: relative;
    padding: 5px;
}

.four-image {
    width: 20%;
    position: relative;
    left: 55px; 
}

.five-image {
    width: 20%;
    position: relative;
    left: 105px; 
}

img {
    float: right;
    max-width: 100%;
    -webkit-box-shadow: 7px 14px 29px 9px rgba(105,113,115,1);
    -moz-box-shadow: 7px 14px 29px 9px rgba(105,113,115,1);
    box-shadow: 7px 14px 29px 9px rgba(105,113,115,1);        
}

footer {
    width: 100%;
    float: left;
    max-width: 100%;
    padding-left: 50px;
}

.better {
    padding-left: 45px;
    max-width: 90%;
    width: 100%;
    float: left;

}

h2 {   
    width: 80%;
    float: left;    
    padding-right: 10px;
    max-width: 100%;
    font-size: 1.5em;
    padding-top: 120px;
    padding-right: 190px;
    
}

footer span{
    font-size: 1.5em;
    width: 67%;
    float: right;
    color: lightgray;     
}