body {
    text-align: center;    
    display: block;
    margin: auto;
    padding: 50px 50px 50px;
    background-color: black;
}

.content-layout {
    width: 1200px;
    height: 600px; 
    background-color: lavender;
    display: block;
    margin: auto;
    padding: 90px 20px;
}   

.layout {
    position: relative;
    top: 80px;
}

.content {
    width: 900px;
    height: 500px; 
    background-color: #fff;   
    display: block;
    margin: auto;
}   



