body {
    width: 70%;
    text-align: center;    
    display: block;
    margin: auto;
    padding: 150px  100px;
    background-color: black;
}

.content-layout {
    width: 100%;
    background-color: lavender;
    display: block;
    margin: auto;
    padding: 70px 20px;
}   

.layout {
    width: 100%;
    position: relative;
    top: 20px;
}

.content {
    max-width: 100%;    
    min-width: 30%;
    width: 900px;
    background-color: #fff;   
    display: inline-block;
    margin: auto;
}   

 i,h1,nav {
    width: 100%;
    padding-right: 70px;
    
}

.icon {
    max-width:100%;
    min-height: 20px;
    padding: 10px;
    float: left;
}

i {
    padding-top: 17px;
    width: 33.333%;
    color: none;
}

.title {
    width: 100%;
    min-height: 100px;
    text-align: center;
    padding-right: 10px;
}

h1 {
    
    width: 33.333%;
    padding-left: 310px;
}

nav {
    width: 33.333%;
    padding-left: 90px;
    display: inline;
}

a {
    display: inline-block;    
    text-decoration: none;
    color: lightgray;
    padding: 10px; 
}

a:hover {
    color: burlywood;
}

.images-width {
    width: 900px;       
    float: right;
    max-width: 100%;
}

.images {
    width: 100%;
    min-width: 100px;
    margin: auto;   
    display: inline-flex;       
}

.one-image {
    width: 20%;
    position: relative;
    left: -110px;  
}

.two-image {
    width: 20%;
    position: relative;
    left: -55px; 
}

.tree-image {
    width: 20%;
    position: relative;
    padding: 5px;
}

.four-image {
    width: 20%;
    position: relative;
    left: 55px; 
}

.five-image {
    width: 20%;
    position: relative;
    left: 105px; 
}

img {
    float: right;
    max-width: 100%;
    -webkit-box-shadow: 7px 14px 29px 9px rgba(105,113,115,1);
    -moz-box-shadow: 7px 14px 29px 9px rgba(105,113,115,1);
    box-shadow: 7px 14px 29px 9px rgba(105,113,115,1);        
}

footer {
    width: 60%;
    float: left;
    max-width: 100%;
    padding: 100px 140px;
    position: relative;
    top: 20px;
    right: 0px;
}

h2 {    
    width: 100%;
    font-size: 1.2em;
    margin: 0px;
    padding: 50px 0px 10px 0px;
}

span,a {
    
    color: lightgray;   
    padding: 10px;
    position: relative;
    top: -4px;
    right: -66px;
}